$background_dark: #3d405b;
$background_dark_alpha: #3d405bdd;
$background_light: #edf6f9;
$background_light_alpha: #8a6c6cdd;
$green_dark: #2c6442;
$green_light: #3f7c5f;
$black: #383748;
$gray: #54526f;
$brown: #8a6c6c;
