@import "./colors.scss";

.contact {
  position: relative;
  height: 80%;
  width: 90%;
  margin: auto;
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
  @media only screen and(max-width: 1000px) {
    flex-direction: column;
    min-height: 1000px;
  }
}

.contact_heading {
  width: 45%;
  height: 100%;
  background-color: transparent;
  background: url("../images/contact_us.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  @media only screen and (max-width: 1000px) {
    height: 40%;
    width: 100%;
  }
}

.contact_heading h1 {
  position: relative;
  font-family: "Open sans";
  font-weight: 200;
  font-size: 2.5em;
  top: 10%;
  @media only screen and (max-width: 1000px) {
    text-align: center;
  }
}
.contact_form {
  width: 45%;
  margin: auto;
  height: 80%;
  box-sizing: border-box;
  background: $background_dark_alpha;
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  box-shadow: -1px 17px 29px 3px rgba(61, 64, 91, 0.75);

  @media only screen and (max-width: 1000px) {
    width: 100%;
    height: 50%;
  }
}

.contact_form div {
  box-sizing: border-box;
  border-bottom: 1px $background_light solid;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.5em;
  color: $background_light;
  font-size: 1.5em;
  font-family: "Source Code Pro";
}

.contact_form div:nth-child(1) {
  margin-top: 1em;
}
.contact_form div:nth-last-child(1) {
  margin-bottom: 1em;
  border-bottom: none;
}

.from_input,
.subject_input,
.controls {
  height: 3.5em;
}

.message_input {
  flex-grow: 1;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $background_light;
  opacity: 0.6; /* Firefox */
}

.contact_form div input,
.contact_form div textarea {
  background: none;
  border: none;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  flex-grow: 1;
  font-size: 1.25em;
  color: $background_light;
}

.contact_form div input:focus,
.contact_form div textarea:focus {
  outline: none;
}

.contact_form div textarea {
  resize: none;
}

.controls {
  background: none;
}

.contact_form button {
  background-color: $background_light;
  color: $background_dark;
  padding: 0.5em;
  margin: 0 0.75em;
  text-transform: capitalize;
  width: 8em;
  font-size: 1em;
  font-weight: 700;
  outline: none;
  border: none;
}

.contact_form button:active {
  box-shadow: inset 0 0 4px $background_dark;
}
