@import "./styles/colors.scss";
.section {
  position: relative;
}

.App,
.section,
.particles,
.page_container {
  height: 100%;
  min-height: -webkit-fill-available;
  width: 100%;
  box-sizing: border-box;
}
  
.page_container {
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.page_container.inactive {
  opacity: 0.5;
  transform: scale(0.5);
}
.particles {
  z-index: -1;
  background-color: $background_light;
  position: fixed;
}
