// import fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

// font-awesome imports
@import "./styles/fontawesome/scss/fontawesome.scss";
@import "./styles/fontawesome/scss/solid.scss";
@import "./styles/fontawesome/scss/brands.scss";

//colors import
@import "./styles/colors.scss";

//dev-icons import
@import url("https://cdn.jsdelivr.net/gh/devicons/devicon@v2.11.0/devicon.min.css");

* {
  margin: 0;
  padding: 0;
}

body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  font-size: 16px;

  @media only screen and(max-width: 1400px) {
    font-size: 14px;
  }

  @media only screen and(max-width: 1000px) {
    font-size: 12px;
  }
  @media only screen and(max-width: 800px) {
    font-size: 10px;
  }
}
